@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;800&display=swap');


*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear; 
 }
 
 
 html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
 }

 section{
  padding:2rem;
  margin:0 auto;
  max-width: 1200px;
}
header{
  position:sticky;
  top:0; left:0; right:0;
  background-color: white;
  border-bottom: 1px solid black;
  z-index: 1000;
}

.header .flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header .flex .logo{
  text-decoration: none;
  font-size: 2.5rem;
  color:black;
}

.header .flex .logo span{
  color: red;
}

.header .flex .navbar a{
  text-decoration: none;
  margin:0 1rem;
  font-size: 2.2rem;
  color:black;
}

.header .flex .navbar a:hover{
  text-decoration: underline;
  color:red;
}
header{
  position:sticky;
  top:0; left:0; right:0;
  background-color: white;
  border-bottom: 1px solid black;
  z-index: 1000;
}

.header .flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header .flex .logo{
  text-decoration: none;
  font-size: 2.5rem;
  color:black;
}

.header .flex .logo span{
  color: red;
}

.header .flex .navbar a{
  text-decoration: none;
  margin:0 1rem;
  font-size: 2.2rem;
  color:black;
}

.header .flex .navbar a:hover{
  text-decoration: underline;
  color:red;
}

.menu .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap:1.5rem;
  align-items: flex-start;
  justify-content: center;
}

.menu .box-container .box{
  background-color: white;
  border-radius: .5rem;
  padding:2rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}

.menu .box-container .box img{
  width: 100%;
  margin-bottom: 1rem;
}

.menu .box-container .box .price{
  background-color: black;
  border-radius: .5rem;
  padding:.5rem 1rem;
  font-size: 1.7rem;
  color:white;
  position: absolute;
  top:1rem; left:1rem;
}

.menu .box-container .box .price span{
  font-size: 2.5rem;
}

.menu .box-container .box .name{
  font-size: 2rem;
  color:black;
  margin:.5rem 0;
}

.menu .box-container .box form{
  display: flex;
  gap:1rem;
}

.menu .box-container .box form .qty{
  width: 8rem;
  border:1px solid black;
  padding:1rem;
  margin-top: 1rem;
  border-radius: 10px;
  font-size: 1.8rem;
  color:black;
}
.menu .box-container .box form .btn{
 font-size: 17px;
 border: 1px solid black;
 padding: 0 5rem;
 border-radius: 15px;
 margin-top: 1rem;
 margin-left: 1rem;
}
.menu .box-container .box form .btn:hover{
 color: white;
 background-color: black;
}